<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaLh3G1bWQ0lD3C5xS8oG0E5x2L+Yqf+9FZf8y8qY2bT" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-Z6GzqKp7yZ8zEwA0qg7n6VvQnKp0FQWw7bJxJ3j2b2hJv1bQ2Q2y6mZx8Ww9n0pV" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6X2kJ5S2m7mQ9H6dXk2yZfV5f7bqJmGvUeCwYw+Q7pFQG4oRz5q3p8w7m" crossorigin="anonymous"
  onload="renderMathInElement(document.body,{delimiters:[{left:'$$',right:'$$',display:true},{left:'$',right:'$',display:false}]});"></script>
